/* Some serious CSShit going on here fam */
* {
    box-sizing: border-box;
}
body {
    background-color: #000000;
    font-family: 'Baloo Da', cursive;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0;
}
#bachgroundimage {
    position: fixed;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 990px;
    min-height: 594px;
    z-index: -1;
}
h1 {
    width: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 20px;
    margin-top: 0;
}
#steakhouselink {
    color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    margin: 10px;
}
#steakhouselink:hover {
    text-shadow: 1px 1px 10px #ffffff;
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    opacity: 0.8;
}
.factoring, .allprimes, #errorfield {
    background-color: rgba(255, 255, 255, 0.6);
    border:2px solid #000000;
    position: relative;
    padding: 30px;
    width: 60%;
    left: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
}
.factoring {
    max-height: 400px;
    overflow-y: auto;
}
#showmoreprimes, #calcbtn {
    height: 35px;
    width: 100px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 2px;
    transition-duration: 0.3s;
    font-family: inherit;
    color: inherit;
}
#calcbtn:hover, #showmoreprimes:hover {
    background-color: #505050;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#showmoreprimes {
    display: none;
}
input {
    background-color: unset;
}
input:focus, input:hover {
    background-color: rgba(214, 214, 214, 0.6);
}
#primelist {
    word-spacing: 5px;
}
#scrolltotop {
    position: fixed;
    right: 25px;
    bottom: 60px;
    background-image: url("icons8-chevron-up-50.png");
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: unset;
    border: 1px transparent;
    border-radius: 5px;
}
#scrolltotop:hover {
    box-shadow: 0 7px rgba(80, 80, 80, 0.4);
    transform: translateY(2px);
}
#scrolltotop:active {
    box-shadow: 0 3px rgba(80, 80, 80, 0.4);
    transform: translateY(4px);
}
#errorfield {
    position: relative;
    font-size: 40px;
    color: red;
    opacity: 1;
    background: #000000;
}